@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto|Titillium+Web|Asap|Teko|Anton');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.App {
  font-family: Roboto Mono;
}

.title-heading {
  font-family: Roboto Mono;
}

.title-description {
  font-family: Roboto Mono;
}

.website-heading {
  font-family: Roboto Mono;
}

.portfolio-title {
  font-family: Roboto Mono;
}

.skills-subheading {
  word-wrap: break-word;
  text-align: center;
  color: black;
  font-family: Roboto Mono;
}

.blog {
  padding: 20px;
  width: 500px;
}

.blog:hover {
  background-color: #e1e5ed;
}

.contact-icon-top {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
}

.contact-icon-top:hover {
  background-color: #687fae;
}

.contact-icon-bottom {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
}

.contact-icon-bottom:hover {
  background-color: #e1e5ed;
}

.email {
  font-size: 20px;
  color: black;
}

.email:hover {
  font-size: 20px;
  color: #656d7a;
}
