@import url("https://fonts.googleapis.com/css?family=Bungee|Roboto|Titillium+Web|Asap|Teko|Anton");

.App {
	font-family: Titillium Web;
}

.website-heading {
	font-family: Anton;
}

.portfolio-title {
	font-family: Bungee;
}

.skills-subheading {
	word-wrap: break-word;
	text-align: center;
	color: black;
	font-family: Bungee;
}